<div class="products-container">
    <h1>Shopping Cart</h1>

    <div class="cardsContainer">
        <h3>Productos adquiridos</h3>
        {{#each products}}
        <div class="card">
            <p> Producto: {{this.product.title}} </p>
            <p> Cantidad: {{this.quantity}} </p>
            <p class="card-text">Precio: ${{this.product.totalPrice}}</p>
            <button onclick="deleteProduct('{{this.cartId}}', '{{this.product._id}}')"
                class="btn btn-danger">Eliminar</button>

        </div>
        {{/each}}
        <form action="/api/carts/{{cartId}}/purchase" method="POST">
            <button type="submit" class="btn btn-primary">Finalizar Compra</button>
        </form>
    </div>

    <button onclick="emptyCart('{{cartId}}')" class="btn btn-danger">Vaciar Cart</button>
    <h3 class="mt-2">Total de la compra: ${{totalPurchase}}</h3>
    {{!-- Organizar en un módulo en PUBLIC/JS --}}
    <script>
        function deleteProduct(cartId, productId) {
            fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al eliminar el producto del cart');
                    }
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function emptyCart(cartId) {
            fetch(`/api/carts/${cartId}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al vaciar el carrito');
                    }
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

    <div class="back-to-products">
        <a href="/products">Volver a Productos</a>
    </div>
</div>