<!-- Vista de Productos -->
<div class="products-container">
    <h1>Bienvenido, {{ user.first_name }} {{ user.last_name }}!</h1>
    <p>Rol: {{ user.role }}</p>

    <h2>Productos Disponibles</h2>

    <div class="cardsContainer">
        {{#each products}}
        <div class="card">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>Categoría: {{category}} </p>
            <button> Agregar al Carrito </button>
        </div>
        {{/each}}
    </div>

<!-- Paginación -->
<div class="pagination-container">
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}" class="pagination-link">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}" class="pagination-link">Siguiente</a>
    {{/if}} 
    <p class="pagination-info">Página {{currentPage}} de {{totalPages}}</p>
</div>

    <!-- Botón de Logout -->
    <a href="/api/sessions/logout" class="logout-btn">Logout</a>
</div>